.footer{
    background-color: #f4efdf;
    padding: 10rem 0;
    font-size: 1.4rem;

    &__navigation{
        border-top: 1px solid #ccc;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }

    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;

        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__link{
        &:link,&:visited{
            color:#5f5a5a;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover,&:active{
            color: rgb(151, 120, 120);
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }

    }
}