.header{
      
        background-color: black;
        

    &__text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;


    &--1{

    }
    &--2{


        
    }

    &--3{

    }
    &--logo{
        width: 45%;

        @include respond(phone){
            width: 65%;
        }

        &--2{
            width: 70%;
        }
    }
    }

  
}