.tienda-header{


    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);

    // @include respond(phone){
    //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100%);
    //     clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100%);
    // }
    padding: 20rem 0rem 10rem 0rem;
    position: relative;

    &--text{
        text-align: center;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);


        @include respond(phone){
            width: 53%;
         }
    
    }

    &--picadas{
        background-image: linear-gradient(
            to right,
            rgba($color-light, 0.76),
            rgba($color-light-dark, 0.719)
        ),
        url(../images/picada1.jpg);
    }

    &--productos{
        background-image: linear-gradient(
            to right,
            rgba($color-light, 0.76),
            rgba($color-light-dark, 0.719)
        ),
        url(../images/fideos1.jpg);
    }
}

.store-picadas{
    background-color:$color-white;

}