.btn{

    text-transform: uppercase;
    border-radius: 1rem;
    font-size: $default-font-size;
    text-align: center;
    text-decoration: none;
   // box-shadow: 0 2rem 5rem rgba(black,0.2);
    cursor: pointer;
    transition: all .2s;
    position: relative;

    &:hover{
        transform: scale(1.03) translateY(-5px);
       // box-shadow: 0 1rem 2rem rgba(black, 0.2);

    }

    &--beige{
        background-color: rgba( #dbb482,1.0);
        display: inline-block;
        color: white;
        padding: 1.5rem 7rem;
        letter-spacing: 1px;
    }

    &--tienda{
        font-size: 1rem;
        padding: 1.5rem 3rem;
    }


}
.flecha{
    padding: 0rem 1rem;
}