.oferta{

    position: relative;

    .card-oferta{
    
        height: 40rem;
        width: 100%;
        transition: all .2s;
       margin: 0 auto;
       -webkit-appearance: none;
       
    &--1{
        
        position: relative;
        }


    &--2{
       
     
        @include respond(tab-land){

        }
        @include respond(tab-port){
            top: 10rem;
        }
        @include respond(phone){
            top: 10rem;
        }
        @include respond(xs-phone){
            top: 10rem;
        }
        
    }

    &__picture{

        background-size: cover;
        height: 35rem;
        background-blend-mode: screen;
        -webkit-appearance: none;


        &--1{
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            -webkit-clip-path:polygon(0 0, 100% 0,100% 85%, 0 100%);
            clip-path:polygon(0 0, 100% 0,100% 85%, 0 100%);
            border-top-left-radius: 3px;
    
            background-image: url(../images/QUESO1.jpg);
            -webkit-appearance: none;
        }

        &--2{
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            -webkit-clip-path:polygon(0 0, 100% 0,100% 85%, 0 100%);
            clip-path:polygon(0 0, 100% 0,100% 100%, 0 85%);
            border-top-left-radius: 3px;
            -webkit-appearance: none;
            background-image: url(../images/PORTADAPROMO2.jpg);
            
            @include respond(tab-port){
                clip-path:polygon(0 0, 100% 0,100% 100%, 0 83%);
              
            }
            @include respond(phone){
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            }
           

        }

        &--3{

        }

    }

 &__promos{

    position: absolute;
    width: 100%;
    top: 10%;
   


    &--1{
        background-color: url(../images);
    }
    &--2{

    }
 }



    &:hover{
        transform: scale(1.07);

        @include respond(phone){
            transform: scale(1);
        }
    }
}
}
