//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT

$default-font-size: 1.6rem;

//COLORES
$color-white: white;
$color-grey: #eee;
$color-grey-dark: rgb(110, 106, 106);
$color-grey-dark-3: #333;
$color-black: #000;
$color-primary:#f15f5f;
$color-primary-light:#dac7c7;
$color-primary-dark:#d18181;